* {
  font-family: "Geo", "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(19, 19, 19);
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 0 25px;
  margin: 20px 20px 0 20px;
  border-radius: 45px;
}
.navbar .logo {
  color: rgb(0, 208, 255);
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
  font-size: 16px;
}
.navbar .menu1 {
  display: flex;
  gap: 20px;
}
.navbar .menu1 a {
  font-weight: bold;
}
.navbar .menu1 a:hover {
  background-color: beige;
  color: rgb(23, 12, 181);
}
.navbar .menu1 .dropdown {
  position: relative;
  background-color: transparent;
  width: 70px;
  height: 20px;
  text-align: center;
  box-sizing: border-box;
}
.menu1 .dropdown .item {
  position: absolute;
  background-color: teal;
  min-width: 70px;
  height: 0;
  overflow: hidden;
}
.dropdown .item a {
  display: block;
}
.dropdown .item a:hover {
  background-color: beige;
  color: rgb(23, 12, 181);
}
.menu1 .dropdown:hover .item {
  height: auto;
}
.menu1 .dropdown > span {
  border-radius: 5px;
  display: block;
  background-color: rgb(177, 177, 177);
  cursor: default;
  font-weight: bold;
}
.navbar .menu2 {
  display: none;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgb(177, 177, 177);
  padding: 2px 6px;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.navbar .menu2 .item {
  min-width: 80px;
  text-align: center;
  position: absolute;
  background-color: beige;
  display: none;
  right: 0;
}
.navbar .menu2:active {
  background-color: rgb(72, 72, 72);
}
.navbar .menu2 .item.gone {
  display: block;
}
.navbar .menu2 .item a {
  display: block;
  padding: 7px;
  background-color: teal;
  color: inherit;
  font-weight: bold;
}
.navbar .menu2 .btn-menu {
  user-select: none;
}
.navbar .menu2 .item a:hover {
  background-color: beige;
  color: rgb(23, 12, 181);
}
@media screen and (max-width: 550px) {
  .navbar .menu1 {
    display: none;
  }
  .navbar .menu2 {
    display: block;
  }
}

.hero {
  background-color: azure;
  padding: 10px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.255);
  border: 2px solid rgb(0, 55, 255);
  border-radius: 12px;
  max-width: 500px;
  margin: 20px 20px 0 20px;
}

.hero p,
.hero h2 {
  margin: 0;
  padding: 0;
}

.hero {
  padding-bottom: 20px;
}
.hero p {
  margin-bottom: 20px;
}
.hero h2 {
  margin-top: 20px;
}

.btn-a {
  background: linear-gradient(to right, rgb(0, 229, 255), rgb(30, 105, 244));
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 5px;
  outline: #78b5e7 solid 2px;
  transition: opacity 0.2s linear, transform 0.1s linear;
  opacity: 0.5;
  display: inline-block;
}
.btn-a:hover {
  opacity: 1;
  transform: scale(1.05);
  color: aqua;
}

.break {
  border: 1px dashed rgba(255, 255, 255, 0.304);
  margin: 20px 60px;
  max-width: 500px;
}
.container {
  display: flex;
  justify-content: center;
}
.info {
  border-top: dashed 1px rgba(255, 255, 255, 0.304);
  border-bottom: dashed 1px rgba(255, 255, 255, 0.304);
  padding: 60px 20px;
  margin: 20px 20px;
  width: 500px;
  text-align: center;
  color: azure;
}
