/*!
Theme: Default
Description: Original highlight.js style
Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
Maintainer: @highlightjs/core-team
Website: https://highlightjs.org/
License: see project LICENSE
Touched: 2021
*/
pre{
    margin: 0;
}
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding:1em;
    border-radius:15px;
}

code.hljs {
    font-size: 1.2em;
    padding: 0;
    box-shadow:12px 0 0 black inset,-12px 0 0 black inset;
    margin: 7px 0;
}

.hljs {
    background: #1B1B1B;
    color: #A1A1A1;
}

.hljs-comment {
    color: #697070
}

.hljs-punctuation,.hljs-tag {
    color: #444a
}

.hljs-tag .hljs-attr,.hljs-tag .hljs-name {
    color: #444
}

.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag {
    font-weight: 700
}

.hljs-keyword{
    color: #7D00C7;
}

.hljs-params{
    color:#FF5800;
}
.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type {
    color: #800
}

.hljs-section,.hljs-title {
    color: #800;
    font-weight: 700
}

.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable {
    color: #ab5656
}

.hljs-literal {
    color: #695
}

.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code {
    color: #D2D2D2;
}

.hljs-title{
    color:#2346C5;
}

.hljs-meta {
    color: #1f7199;
}

.hljs-string {
    color: #47A11E;
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}
