body {
            background-color: gray;
            padding: 7px;
        }
        .hljs {
            margin: 0 5px;
        }
        h1 {
            font-family: verdana;
            display: block;
            margin: 7px auto;
            color:gold;
            padding: 20px 0;
            font-size: 3em;
            text-decoration: underline;
            background-color: #353535;
        }
        img{
            width:100%;
        }
        .urls{
            text-align: center;
            width:100%;
            overflow-y: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        h2 {
            margin: 0;
            padding-top: 30px;
            font-size: 3em;
            color: white;
            letter-spacing: 1px;
            font-weight: 700;
            font-family: 'Handjet';
        }
        .output {
            background-color: black;
            padding: 7px 15px;
            color: whitesmoke;
            height: 90px;
            margin-bottom: 27px;
        }
        .cfix::after {
  content: "";
  clear: both;
  display: table;
}
        .page .next, .page .prev{
            padding: 7px 14px;
            font-size: 30px;
            text-decoration: none;
            color: white;
            border:solid 2px black;
            border-radius:5px;
        }
        .page .next{
            float:right;
        }
        .page .prev{
            float: left;
        }
        .disabled{
            color:gray;
            cursor:block;
            opacity:0.2;
        }
        footer{
            display: flex;
            justify-content: center;
            padding: 50px 20px;
        }
       footer span{
           text-align: center;
       }
       table{
           width:100%;
           font-weight: bold;
       }
       table td{
           width: 50%;
           text-align: center;
           padding: 7px;
           
       }
              
       .content{
           padding:120px 60px;
           padding-bottom: 400px;
           background-color: #FFF900;
       }
       .content button{
           padding: 14px 24px;
           border: none;
           border-radius:45px;
           cursor: pointer;
       }
       .content button:hover{
           outline:solid 2px #23CD00;
       }
